.createx{
    
    padding-top: 1294px;
   h2{
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
    color: var(--gray-900, #1E212C);
   }
   h3{
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
   }
   &_wrapper{
    color: var(--gray-900, #1E212C);
    text-align: center;
    font-family: Ubuntu;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 59.8px */
   }
   &_descr{
    color: var(--gray-700, #787A80);
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
   }
   .wrapper{
    &_blocks{
        padding-top: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 168px;
        hr{
            border: none;
            height: 180px;
            width: 1px;
            background: linear-gradient(315deg, rgba(218, 219, 221, 0.00) 0%, rgba(218, 219, 221, 0.50) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 87.85%, rgba(218, 219, 221, 0.00) 100%);
            
        }
    }
    &_block{
        width: 285px;
        min-height: 188px;
    }
    &_title{
        color: var(--gray-900, #1E212C);
        text-align: center;

        font-family: Ubuntu;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
    }
    &_descr{
        color: var(--gray-700, #787A80);
        text-align: center;
        font-family: Ubuntu;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
    }
   }
}