// .services-section{
//     background-image: url(/backgrounds/background.jpg);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     padding-top: 212px;
//     .title{
//         text-align: center;
//         color: var(--gray-900, #1E212C);
//         text-align: center;
//         font-family: Ubuntu;
//         font-size: 46px;
//         font-style: normal;
//         font-weight: 700;
//         line-height: 130%;
//     }
//     .descr{
//         padding-top: 24px;
//         text-align: center;
//         color: var(--gray-700, #787A80);
//         text-align: center;
//         font-family: Ubuntu;
//         font-size: 18px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 150%; /* 27px */
//     }
//     .services-list{
//         display: grid;
//         grid-template-columns: repeat(4, 1fr);
//         gap: 30px;
//         &__item{
//             padding-top: 60px;
//         }
//         &__content{
//             position: relative;
//             z-index: 10;
//         }
//     }
//     .services-item{
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // position: relative;
        // border: 1 px solid #E5E8ED;
        // justify-content: center;
        // align-items: center;
        // border-radius: 4px;
        // background-color: #ffffff;
        // border: 1px solid var(--gray-300, #E5E8ED);
        // box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
        // padding: 0px 10px;
        // padding-top: 87px;
        // padding-bottom: 90px;

       
//         &_image{
//             padding-bottom: 24px;
//             width: 52px;
//             height: 52px;
//             object-fit: cover;
            
//         }
//         &_title{
//             margin: 0;
//             color: var(--gray-900, #1E212C);
//             text-align: center;
//             font-family: Ubuntu;
//             font-size: 20px;
//             font-style: normal;
//             font-weight: 700;
//             line-height: 150%; /* 30px */
            
//         }
//         &::before{
//             content: '';
//             position: absolute;
//             left: 0;
//             right: 0;
//             top: 0;
//             bottom: 0;
//             background-image: url(/backgrounds/image.jpg);
//             background-position: center;
//             background-repeat: no-repeat;
//             background-size: cover;
//             z-index: -1;
//         }
//     }
// }
.services-section {
    display: flex;
  padding-top: 212px;
  padding-bottom: 80px;
  background-image: url("/backgrounds/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  justify-content: center;

  .list-reset{
    list-style: none;
  }
  &__list {
    margin-bottom: 40px;
    display: flex;
  }
  &__learn{
    display: flex;
  align-items: center;
  justify-content: center;
  }
  .learn-more__subtitle{
        margin: 0;
        margin-right: 40px;
        color: black ;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 42px */;
       
  }

  
}

.services-list {
  &__item {
    text-align: center;
    grid-column: 3 span; 
    padding: 30px;
    width: 280px;
    height: 280px;
    // background-color: yellow;
    
  }
}
.services-item {
  position: relative;
  display: block;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 0 10px;
  padding-top: 87px;
  padding-bottom: 90px;
  box-shadow: var(--main-shadow);
  background-color: #fff;
  text-decoration: none;
    
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    border-radius: inherit;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/backgrounds/image.jpg");
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    border-radius: inherit;
    background-color: rgba(#1e212c, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }

  &__content {
    position: relative;
    z-index: 10;
  }

  &__icon {
    margin-bottom: 23px;
    width: 52px;
    height: 52px;
    fill: var(--color-primary);
    object-fit: cover;
    transition: fill 0.3s ease-in-out;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: black;
    transition: color 0.3s ease-in-out;
    
    
  }

  &--construct {
    
    &::before {
      background-image: url("/backgrounds/image.jpg");
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 1;
    }

    .services-item__icon {
      fill: var(--color-light);
    }

    .services-item__title {
      color: #fff;
    }
  }
}